certifi==2025.11.12
dnspython==2.8.0
joblib==1.5.2
-e git+https://github.com/Akhilesh-Chandewar/data_processing.git@f5bf64265c0adeb5f85c9bcf0bf0eb3b1dd9418a#egg=network_security
numpy==2.2.6
pandas==2.3.3
pymongo==4.15.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.3
scikit-learn==1.7.2
scipy==1.15.3
six==1.17.0
threadpoolctl==3.6.0
tzdata==2025.2
